.avatarLoadWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.avatarPreview {
    width: 150px;
    height: 150px;
    box-sizing: content-box;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    object-fit: cover;
}
.auth {
    background: white;
    border-radius: 2rem;
    margin: 3rem auto 0;
    padding: 40px;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.06);
    max-width: 33rem;
    width: 100%;
    transition: 0.3s;

    * {
        color: var(--accentColor);
        transition: 0.3s;
    }

    &Title {
        font-weight: 500;
        margin-bottom: 75px;
    }

    &Input {
        margin-bottom: 4rem;
        input {
            max-width: 17rem;
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .link {
            color: var(--accentColor);
            width: 225px;
            text-align: left;
        }
    }
}

.registration {
    max-width: 37rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .auth {
        &InputGroup {
            flex-direction: column;
            align-items: start;

            label {
                font-size: 16px;
                align-items: end;
                margin-bottom: 5px;
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &Title {
            font-size: 25px;
        }
        &Input {
            input {
                max-width: 100%;
            }
            margin-bottom: 50px;
            * {
                font-size: 16px;
            }
        }
    }
    .validationMessage {
        font-size: 12px;
    }
    .avatarLoadWrapper {
        flex-direction: column-reverse;
        align-items: start;
        margin-bottom: 50px;
    }
    .avatarLoadButton {
        width: 100%;
        * {
            font-size: 16px !important;
        }
        label {
            padding: 15px;
        }
        input {
            height: 20px;
        }
    }
    .avatarPreview {
        width: 125px;
        height: 125px;
        margin-bottom: 20px;
    }
    .buttons {
        flex-direction: column;
    }
    .submit {
        height: 50px;
        font-size: 16px;
        width: 100%;
    }
    .link {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
}
