@import '../../styles/variables.scss';

.avatarPreview {
    width: 150px;
    height: 150px;
    box-sizing: content-box;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    object-fit: cover;
}
.auth {
    background: white;
    border-radius: 2rem;
    margin: 3rem auto 0;
    padding: 40px;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.06);
    max-width: 33rem;
    width: 100%;
    transition: 0.3s;

    * {
        color: $accentColor;
        transition: 0.3s;
    }

    &Title {
        font-weight: 500;
        margin-bottom: 75px;
    }

    &Input {
        margin-bottom: 4rem;
        input {
            max-width: 17rem;
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .link {
            color: #6cc2cc;
            width: 225px;
            text-align: left;
        }
    }
}

.registration {
    max-width: 37rem;
    margin-bottom: 2rem;
}
