.fixed {
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, opacity 0.3s, background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    opacity: 1;
    overflow: auto;

    &--hidden {
        opacity: 0;
        pointer-events: none;

        .content {
            transform: translateY(-5%);
        }
    }

    h3 {
        font-size: 26px;
        font-weight: 600;
        color: var(--accentColor);
    }

    hr {
        border: none;
        color: white;
        background: var(--accentColor);
        opacity: 0.1;
        height: 2px;
        width: 80%;
        margin: 0 auto;
    }
}

.content {
    padding: 30px;
    background: white;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    transition: inherit;
}

@media screen and (max-width: 600px) {
    .modal--hidden {
        background: transparent;
        pointer-events: none;

        .content {
            transform: translateX(-100vw);
            padding: 30px;
        }
    }
}
