@import '../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 1.4rem;
    display: flex;
    font-weight: 500;

    span {
        color: $accentColor;
    }
}

.input {
    color: $accentColor;
    background: #fcfcfc;
    box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 12px 16px;
    margin-left: 0;
}

input::-webkit-input-placeholder {
    color: $accentColor;
}
input::placeholder {
    color: $accentColor;
}
