.like {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    min-width: 60px;
    width: auto;
    transition: inherit;
    color: white;
    z-index: 4;
    font-size: 20px;
    font-weight: 500;
}
.image {
    opacity: 0.85;
    height: fit-content;
    transition: 0.1s;
    //filter: brightness(0) invert(100%) brightness(0.3);
    margin-right: 7px;

    &:hover {
        transform: scale(1.2);
    }
}

[data-isliked='true'] {
    fill: rgb(255, 21, 21);
    stroke: transparent;
    transform: scale(1.1);
    //filter: none;
    animation: 0.2s like alternate;
}

[data-isliked='false'] {
    fill: transparent;
    stroke: black;
    //filter: brightness(0) invert(100%) brightness(0.3);
    animation: 0.2s unlike alternate;
}

.counter {
    color: white;
    font-size: 24px;
}

@keyframes like {
    0% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes unlike {
    0% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.2);
    }
}
