.modal > div {
    width: 70vw;
    height: 80vh;
    max-width: auto;
}

.commentsModal {
    height: 100%;
    z-index: 7;
    & > div {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.photo {
    width: 55%;
    height: 100%;
    object-fit: contain;
    background: black;
}

.likeBtn {
    position: relative;
    cursor: pointer;
    left: 0;
    bottom: 0;

    svg {
        width: 35px;
    }
    p {
        color: black;
    }
}

.commentsButton {
    width: 30px;
    height: fit-content;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.nickName {
    font-size: 20px;
}

.info {
    padding: 15px;
    width: 45%;
    position: relative;
}

.container {
    width: 95%;
    height: 80%;
}

.content {
    width: 100%;
    height: 15%;
    margin-bottom: 2rem;
    p {
        width: 90%;
        overflow: auto;
    }
}

.sendForm {
    //height: 7rem;
    background: white;
    position: absolute;
    bottom: 0rem;
    padding: 1rem 0;
    width: 95%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.formLeftWrapper {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: end;
}

.sendCommentBtn {
    height: 3.5rem;
    font-size: 1.2rem;
}

.emojiPicker {
}

.commentInputWrapper {
    width: 100%;
    max-width: 85%;
    height: 100%;
    display: flex;
    align-items: end;
}

.commentInput {
    max-height: 7rem;
    min-height: 50%;
    height: fit-content;
    width: 100%;
    input {
        width: 100%;
    }
    * {
        font-size: 1.2rem;
    }
}

.sendCommentBtnIcon {
    display: none;
}
.sendCommentBtnText {
    display: inline-block;
}

.menu {
    right: 0;
    top: 40px;
    width: 250px;
    font-size: 14px;
}
.menuToggleButton {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.menuToggleWrapper {
    position: relative;
}

.headerButtons {
    display: flex;
    align-items: center;
}

.commentsWrapper {
    width: 100%;
    height: 75%;
    overflow-y: auto;
}

.sendBtnIcon {
    display: none;
}

@media screen and (max-width: 1900px) {
    .sendForm {
        .sendBtn,
        .commentInput > input {
            padding: 10px;
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 1600px) {
    .sendForm {
        & > div {
            display: block;
        }
        .formLeftWrapper {
            width: 85%;
        }
        .sendBtnIcon {
            display: inline-block;
            width: 75%;
            aspect-ratio: 1;
            height: auto;
        }
        .sendBtn {
            height: auto;
            aspect-ratio: 1;
            width: 60px;
        }
        .sendBtnText {
            display: none;
            height: auto;
        }
    }
}

@media screen and (max-width: 1300px) {
    .emojiPicker svg {
        width: 30px;
        height: 30px;
    }

    .commentsWrapper {
        & > div {
            min-height: 12%;
        }
    }

    .emojiPicker ul {
        top: auto;
        bottom: 50px;
        height: 7rem;
        width: 15rem;
        & > div {
            width: 2rem;
            height: 2rem;
        }
    }
    .commentInput input {
        height: 50px;
    }
    .sendCommentBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sendCommentBtnIcon {
        width: 30px;
        height: 30px;
        display: inline;
    }
    .sendCommentBtnText {
        display: none;
    }
    .sendForm {
        padding: 0 5px;
    }
    .formLeftWrapper {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .commentInput {
        max-width: 100%;
        input {
            padding: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .modal > div {
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .modal {
        height: calc(100% - var(--navbarHeight));
        position: fixed;
        top: 0;
        bottom: var(--navbarHeight);
        & > div {
            height: 100%;
            width: 100%;
            border-radius: 0;
        }
    }
    .title {
        display: inline-block;
        font-size: 18px !important;
        width: 60%;
    }
    .description {
        width: 70%;
        font-size: 13px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    body {
        top: 0 !important;
    }

    .commentsModal {
        position: absolute;
        height: 100%;
        & > div {
            padding: 0;
        }
    }

    .wrapper {
        flex-direction: column;
        justify-content: start;
    }

    .photoWrapper {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
    }
    .photo {
        width: 100%;
        height: 100%;
        background: rgb(248, 248, 248);
    }

    .header {
        padding: 5px;
    }

    .closeButton {
        display: flex;
        align-items: center;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .commentsButton {
        fill: #343434;
        cursor: pointer;
        margin-right: 20px;
        width: 33px;
        height: 33px;
    }

    .likeBtn {
        svg {
            width: 60px;
            display: flex;
        }
        cursor: pointer;
        position: relative;
    }
    .contentHeader {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sendForm {
        width: 100%;
    }
    .commentInput {
        width: 100%;
        input {
            max-width: 90%;
        }
    }

    .formLeftWrapper {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .emojiPicker {
        svg {
            height: 40px;
            width: 40px;
        }
        ul {
            right: 0;
            left: auto;
            padding: 15px;
            bottom: 60px;
            height: 8rem;
            width: 20rem;
        }
    }
    .menu {
        right: 0;
        top: 40px;
        width: 250px;
        font-size: 14px;
    }
    .menuToggleButton {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    .menuToggleWrapper {
        position: relative;
    }
}
