.modal > div {
    width: 35rem;
    min-height: 30rem;
}

.buttons {
    bottom: 1rem;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 20px;
}

.addFileInputWrapper {
    margin-bottom: 50px;
}

.inputWrapper {
    margin-top: 50px;

    input {
        width: 100%;
        max-width: 17rem;
        height: 2.5rem;
        margin-left: 0.5rem;
    }
}

.preview {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.25);
    display: block;
    object-fit: cover;
    margin: 30px auto 100px;
}

.validationMessage {
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .inputWrapper {
        label {
            font-size: 16px;
            margin-right: 5px;
        }
        input {
            font-size: 16px;
        }
    }
    .button,
    .addFileInputWrapper > label {
        padding: 10px;
        height: 50px;
        font-size: 16px;
    }
}
