@import '../../styles/variables.scss';

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .photo {
        width: 60%;
        height: 100%;
        object-fit: contain;
        background: black;
    }

    .likeBtn {
        cursor: pointer;
        left: 0;
        bottom: 0;
        p {
            color: black;
        }
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        * {
            position: relative;
        }
        margin-bottom: 20px;
    }

    .profileInfo {
        display: flex;
        align-items: center;
    }

    .nickName {
        font-size: 20px;
    }

    .info {
        padding: 15px;
        width: 40%;
        position: relative;
    }

    .container {
        width: 95%;
    }

    .content {
        height: 15%;
        margin-bottom: 2rem;
        p {
            width: 90%;
            height: 60%;
            overflow: auto;
        }
    }

    .sendForm {
        position: absolute;
        bottom: 1rem;
        width: 95%;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .sendCommentBtn {
        height: 3.5rem;
        font-size: 1.2rem;
    }

    .pickEmojiWrapper {
        position: relative;
    }

    .commentInput {
        * {
            font-size: 1.2rem;
        }
    }

    .emojisBtn {
        cursor: pointer;
        transition: 0.3s;
        font-size: 2.3rem;
        border-radius: 50%;
        svg {
            pointer-events: none;
        }
        path {
            transition: 0.3s;
            color: $accentColor;
        }
    }

    .emojis {
        top: -11.5rem;
        left: 0;
        position: absolute;
    }

    .emojis[data-closed='true'] ~ .emojisBtn {
        path {
            color: rgb(198, 198, 198);
        }
    }
}

@media screen and (max-width: 1400px) {
}
