.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
    .wrapper {
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        justify-content: center;
    }
}
