.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 15px;
    bottom: 15px;
    min-width: 60px;
    width: auto;
    transition: inherit;
    color: white;
    z-index: 100;
    font-size: 20px;
    font-weight: 500;

    .image {
        opacity: 0.85;
        width: 40px;
        filter: brightness(0) invert(100%) brightness(0.3);
        transition: filter 0.1s, transform 0.3s;
        margin-right: 5px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .imageLiked {
        opacity: 0.85;
        width: 40px;
        filter: none;
        margin-right: 5px;
        transition: filter 0.1s, transform 0.3s;
        animation: 0.2s like;

        &:hover {
            transform: scale(1.2);
        }
    }

    .counter {
        color: white;
        font-size: 24px;
    }
}

@keyframes like {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.2);
    }
}
