@import '../../styles/variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    //min-width: 9rem;
    height: 4rem;
    border: none;
    background: white;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: $lightShadow;
    transition: 0.3s;
    padding: 20px 28px;
    color: $accentColor;

    * {
        color: $accentColor;
        transition: inherit;
    }

    &:hover {
        color: white;
        * {
            color: white;
        }
        background: $accentColor;
        box-shadow: 0 2px 7px -3px rgba(72, 197, 209, 0.74);
    }
}

.disabled {
    color: grey !important;

    &:hover {
        background: white;
        color: grey;
        box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.25);
    }
}
