.wrapper {
    width: 95%;
    min-height: 15%;
    max-height: 30%;
    box-shadow: var(--lightShadow);
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: top;
    margin-bottom: 10px;
    padding: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.infoWrapper {
    position: relative;
    width: 90%;
}

.nickName {
    top: 0;
    right: -80px;
    color: grey;
    font-size: 15px;
}

.avatar {
    width: 8%;
    aspect-ratio: 1;
    height: fit-content;
}

.text {
    width: 90%;
    height: 90%;

    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 14px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &Right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90px;
    }
}

.passedTime {
    color: var(--subText);
    font-size: 13px;
}

@media screen and (max-width: 1400px) {
    .wrapper {
        padding: 5px;
        margin-bottom: 10px;
        min-height: 15%;
        max-height: 20%;
    }
    .avatar {
        width: 33px;
        height: 33px;
    }
    .text {
        font-size: 12px;
        line-height: 12px;
    }
}
