@import '../../../styles/variables.scss';

.wrapper {
    width: 90%;
    height: 100px;
    background: white;
    box-shadow: $lightShadow;
    border-radius: 5px;
    display: flex;
    text-overflow: ellipsis;
    align-items: top;
    margin-bottom: 20px;
    padding-top: 15px;
}

.infoWrapper {
    position: relative;
}

.nickName {
    top: 0;
    right: -80px;
    color: grey;
    font-size: 15px;
}

.text {
    font-size: 13px;
    position: relative;
    height: 80%;
    overflow: auto;
}
