*.env
docker-compose.yml
Dockerfile
Makefile

# Ignore images from 
images/avatars/*
!images/avatars/placeholder.jpg
images/*
!images/avatars

hlam.json
/pb

Thumbs.db
.DS_Store

/.idea
.idea
.vscode

