.userInfo {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.userName {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .userName {
        font-size: 16px;
    }
}
