.header {
    width: 70vw;
    height: 80px;
    background: white;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.06);
    position: sticky;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.list {
    display: flex;
}

.exitButton {
    width: 7rem;
    height: 3rem;
}

.exitIcon {
    width: 30px;
    height: 30px;
    display: none;
}

.exitText {
    display: inline;
}

@media screen and (max-width: 1000px) {
    .exitIcon {
        display: inline;
    }

    .exitText {
        display: none;
    }

    .exitButton {
        width: auto;
        min-width: 0;
        padding: 10px;
    }
}
