.header {
    width: 70vw;
    height: 80px;
    background: white;
    box-shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.06);
    position: sticky;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.list {
    display: flex;
}
