@font-face {
    font-family: 'Sansation';
    font-weight: 700;
    src: url('../assets/fonts/Sansation_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Sansation';
    font-weight: 400;
    src: url('../assets/fonts/Sansation_Regular.otf') format('opentype');
}
