$accentColor: #3cada7;
$shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.09);
$lightShadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.075);
$bgColor: #fcfcfc;
$text: #343434;
$subText: #929292;

$navbarHeight: 60px;

// MEDIA

:root {
    --accentColor: #3cada7;
    --shadow: 0px 2px 38px 1px rgba(0, 0, 0, 0.09);
    --lightShadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.075);
    --bgColor: #fcfcfc;
    --text: #343434;
    --subText: #929292;
    --navbarHeight: 60px;
    --color: green;
}
